:root{
    --color: #1c1f26;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:focus {
    outline: 2px solid #207e20;
    box-shadow: 4px 4px 2px #175517;
}

body{
    background-color: var(--color);
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    color: white;
}

.header {
    width: 100%;
    background-color: #0f0f0f;
    height: 16vh;
    color: white;
}

.header div {
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
}

main {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.card-container {
    max-width: 20%;
    width: 100%;
    background-color: #06314e;
    border-radius: 8px;
    margin-top: -8rem;
    animation: anima .5s linear forwards;
    transform: scale(0.5);
}

@keyframes anima {
    100% {
        transform: scale(1);
    }
}

.card-image img {
    max-width: 100%;
    width: 100%;
    height: 16vh;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-profile {
    max-width: 100%;
    margin: -2.5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.card-profile img {
    max-width: 24%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #838383;
    margin-bottom: 0.5rem;
}

.card-profile span {
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.card-profile p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}

.card-buttons button {
    height: 2.5rem;
    max-width: 14.2rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    transition: transform 0.2s;
    background-color: #175517;
}

.card-buttons button:hover {
    transform: scale(1.04);
}

.card-buttons button:focus {
    box-shadow: 2px 2px 8px #045083;
}

.link-container{
    max-width: 50%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s;
}

.link-container footer {
    margin: 0.7rem 0 0.4rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.link-container footer a:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.link-header {
    text-align: center;
    position: relative;
    color:white;    
    text-align: center;
}

.link-header img {
    width: 3.75rem;
    border-radius: 50%;
}

.link-header h1{
    font-size: 1.125rem;
}

.link-header h2{
    font-size: 0.625rem;
    color:#e7e4e4;
    font-weight: 400;
    margin-top: 0.5rem;
}

.link-header button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8b0e0e;
    color: white;
    padding: 0.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, padding 0.2s;
}

.link-header button:hover {
    transform: scale(1.06);
    padding: 0.4rem;
}

.link-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1.125rem;
    max-width: 100%;
    text-align: center;
}

.link-box a{
        font-weight: 400;
        text-decoration: none;
        background-color: var(--color);
        min-width: 100%;
        padding:1rem 3.25rem;
        font-size:1rem;
        border-radius:4px;
        box-shadow: 1px 1px 1px #070f0f,
                    -3px -3px 10px #06314e;      
        cursor: auto;
        transition: transform 0.2s;
        pointer-events: none;
}

.link-box:hover a {
    background-color: #2956af;
    transform: scale(1.04);
}

.link-box i {
    float: left;
    color: black;
    font-size: 1.125rem;
}

.link-box:hover i {
    color: white;
}


footer{
    font-size:0.55em;
    text-align: center;
    color:white;
    transition: all 1s;
}

@media (min-width: 48rem) and (max-width: 65rem) {
    main {
        justify-content: space-around;
    }

    .card-container {
        max-width: 25%;
    }

    .card-profile img {
        width: 22%;
    }

    .card-buttons {
        padding: 1rem;
        margin-top: 0.3rem;
    }

    .link-container {
        max-width: 60%;
    }

    .link-box i {
        position: relative;
        left: -2rem;
    }

}

@media (max-width: 48rem) {
    main {
        justify-content: center;
    }

    .card-container {
        display: none;
    }

    .link-container {
        max-width: 95%;
        opacity: 1;
        pointer-events: initial;
    }

    .link-header button {
        display: none;
    }

    .link-box a {
        pointer-events: initial;
        cursor: pointer;
        font-size: 0.8rem;
    }

    .link-box i {
        position: relative;
        left: -2rem;
    }
}